*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    width: 100%;
    position: relative;
    max-height: 3657px;
    background: #FFFFFF;
    margin-left: 15px;
    margin-right: 15px;
}

nav {
    width: 100%;
    padding: 0 200px;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #BCFCD5;
font-style: normal;
font-family: 'Inter-Se';
src: url(./Inter/static/Inter-SemiBold.ttf);
font-weight: 600;
font-size: 18px;
line-height: 22px;

 }

 .menu__logo{
    display: flex;
    flex-direction: row;
    align-items: center;
 }

 .menu__logo img{
    width: 60px;
    height: 60px;
 }

 .menu__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
 }

 .menu__registration{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    background-color: #FFF;
    border-radius: 10px;
    width: 136px;
    height: 44px;
    border: 1px solid black;

 }

 .menu__registration:hover{
    cursor: pointer;
 }

.menu img{
    position: absolute;
width: 55px;
height: 59px;
left: 198px;
top: 15px;
margin-top: 15px;
}
.head h2{
    position: absolute;
width: 505px;
height: 154px;
left: 185px;
top: 259px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 79px;

color: #000000;

}

.head img{
    position: absolute;
width: 530px;
height: 430px;
left: 729.91px;
top: 120px;

background: url(Wallet-cuate.png);
transform: rotate(0.12deg);
}.head h2{
    position: absolute;
width: 580px;
height: 237px;
left: 203px;
top: 242px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 79px;

color: #000000;

}

.t1 h3{
    position: absolute;
width: 504px;
height: 242px;
left: 743px;
top: 780px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;

color: #000000;
}
.t1 p{
    position: absolute;
width: 504px;
height: 129px;
left: 743px;
top: 830px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;

color: #000000;
}
.t1 img{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 190px;
    top: 600px;
    
    background: url(Fast loading-pana.png);
}
.t2 h3{
    position: absolute;
    width: 520px;
    height: 37px;
    left: 196px;
    top: 1246px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    
    color: #000000;
    
}
.t2 p{
    position: absolute;
width: 520px;
height: 100px;
left: 196px;
top: 1300px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;

color: #000000;
}
.t2 img{
    position: absolute;
width: 467px;
height: 405px;
left: 783px;
top: 1138px;

background: url(Money stress-rafiki.png);
}
.t3 h3{
    position: absolute;
width: 520px;
height: 47px;
left: 730px;
top: 1770px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;

color: #000000;

}
.t3 p{
    position: absolute;
width: 520px;
height: 89px;
left: 730px;
top: 1833px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;

color: #000000;
}
.t3 img{
    position: absolute;
width: 430px;
height: 430px;
left: 190px;
top: 1644px;

background: url(E-Wallet-pana.png);
}
.t4 h3{
    position: absolute;
width: 520px;
height: 41px;
left: 190px;
top: 2293px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;

color: #000000;

}
.t4 p{
    position: absolute;
width: 520px;
height: 125px;
left: 190px;
top: 2340px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;

color: #000000;

}
.t4 img{
    position: absolute;
width: 430px;
height: 395px;
left: 820px;
top: 2151px;

background: url(Shop giveaway-amico.png);
}
.t5 h3{
    position: absolute;
width: 474px;
height: 32px;
left: 772px;
top: 2804px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;

color: #000000;

}
.t5 p{
    position: absolute;
width: 474px;
height: 112px;
left: 772px;
top: 2859px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;

color: #000000;

}
.t5 img{
    position: absolute;
width: 433px;
height: 359px;
left: 190px;
top: 2713px;

background: url(Manage money-cuate.png);
}
footer{
    position: absolute;
width: 1440px;
height: 382px;
left: 0px;
top: 2727px;
background: #AFFFBC;
}

.s1 img{

    position: absolute;
    top:30px;
width: 70px;
height: 70px;
left: 190px;
}
.s1 p{
position: absolute;
display: flex;
left: 190px;
width: 340px;
top: 135px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;

color: #000000;

}
.s2 img{
    position: absolute;
width: 70px;
height: 70px;
left: 190px;
top: 250px;
}
.s22 p{
    position: absolute;
width: 313px;
height: 29px;
left: 629px;
top: 30px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;

color: #197710;
}
.s3 p{
    position: absolute;
width: 299px;
height: 245px;
left: 629px;
top: 98px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;

color: #000000;

}
.s4 p{
    position: absolute;
    width: 299px;
    height: 245px;
    left: 629px;
    top: 153px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    
    color: #000000;
    
}
.s5 p{
    position: absolute;
    width: 299px;
    height: 245px;
    left: 629px;
    top: 248px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    
    color: #000000;
    
}

.s6 p{
    position: absolute;
    width: 180px;
    height: 30px;
    left: 629px;
    top: 308px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    
    color: #000000;
    
}
.s7 p{
    position: absolute;
    width: 105px;
    height: 33px;
    left: 1000px;
    top: 98px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    
    color: #000000;
    
}
.s8 p{
    position: absolute;
    width: 105px;
    height: 33px;
    left: 1000px;
    top: 171px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    
    color: #000000;
    
}
.s9 p{
    position: absolute;
width: 298px;
height: 71px;
left: 1000px;
top: 250px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;

color: #000000;

}